<div class="form-inline">
  <select class="question-select form-control mr-2 w-50" [(ngModel)]="linkId" (change)="onChange(true)" aria-label="Question">
    <option value="" disabled hidden>Select...</option>
    <option *ngFor="let question of questions" [value]="question.linkId">
      {{question.text}}{{advancedInterface ? ' (' + question.linkId + ')' : ''}}
    </option>
  </select>

  <select class="unit-select form-control" style="width: 40%" *ngIf="conversionOptions" [(ngModel)]="toUnit"
          (change)="onChange(false)" aria-label="Unit conversion">
    <option value="">Keep form units ({{unit}})</option>
    <option *ngFor="let u of conversionOptions" value="{{u.unit}}">Convert to {{u.unit}}</option>
  </select>
  <span *ngIf="isNonConvertibleUnit">{{unit}}</span>
  <span *ngIf="itemHasScore">Score</span>

  <app-syntax-preview [syntax]="variable.expression"></app-syntax-preview>
</div>
