<h1>Demo Application</h1>

<label>
  Questionnaire:
  <select [(ngModel)]="questionnaire" (change)="onChange()">
    <option value="">None</option>
    <option value="bmi">BMI Calculation</option>
    <option value="phq9">PHQ9 (no FHIRPath)</option>
  </select>
</label>

<div *ngIf="questionnaire">
  <div class="rule-editor" *ngIf="!score">
    <lhc-rule-editor></lhc-rule-editor>
  </div>

  <p *ngIf="score">This looks like it could be a sum of scores.</p>

  <button (click)="showFhir()">Show FHIR</button>

  <pre>{{fhirPreview}}</pre>
</div>
