<h1>Demo Application</h1>

<label>
  Questionnaire:
  <select [(ngModel)]="questionnaire">
    <option value="">None</option>
    <option value="bmi">BMI Calculation</option>
    <option value="phq9">PHQ9 (no FHIRPath)</option>
  </select>
</label>

<div *ngIf="questionnaire">
  <div class="rule-editor">
    <lhc-rule-editor
      [fhirQuestionnaire]="fhir[questionnaire]"
      [itemLinkId]="linkId"

      [submitButtonName]="'Save'"
      [titleName]="'My Rule Editor'"
      [expressionLabel]="'My Expression'"
      [expressionUrl]="'http://hl7.org/fhir/uv/sdc/StructureDefinition/sdc-questionnaire-calculatedExpression'"
      [style]="{
        buttonPrimary: { backgroundColor: 'blue' },
        buttonSecondary: { backgroundColor: 'blue', color: 'white' },
        input: { backgroundColor: '#ffe' },
        select: { backgroundColor: '#ffe' }
      }"
      (save)="onSave($event)">
    </lhc-rule-editor>
  </div>

  <pre>{{fhirPreview}}</pre>
</div>
