<h2>Variables</h2>

<div class="container">
  <div class="row font-weight-bold mb-2" aria-hidden="true">
    <div class="col-md-2">Label</div>
    <div class="col-md-3">Type</div>
    <div class="col-md-7">Question/FHIRPath Expression</div>
  </div>
  <div cdkDropList (cdkDropListDropped)="drop($event)">
    <div class="drag-variable row py-2" *ngFor="let variable of variables; index as i" cdkDrag>
      <div class="col-md-2 form-inline">
        <img alt="Drag Handle" width="20" height="20" class="mr-2 handle" src="assets/grip-vertical.svg" cdkDragHandle />
        <label [for]="'variable-label-' + i" class="sr-only">Variable Label</label>
        <input [id]="'variable-label-' + i" [(ngModel)]="variable.label" class="form-control w-75" />
      </div>
      <div class="col-md-3">
        <div class="form-inline">
          <label [for]="'variable-type-' + i" class="sr-only">Variable Type</label>
          <select [id]="'variable-type-' + i" class="form-control" [(ngModel)]="variable.type">
            <option value="" disabled hidden>Select...</option>
            <option *ngFor="let type of variableType | keyvalue" value="{{type.key}}">{{type.value}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6" [ngSwitch]="variable.type">
        <app-question [variable]="variable" *ngSwitchCase="'question'"></app-question>
        <div class="form-inline" *ngSwitchCase="'expression'">
          <label [for]="'variable-expression-' + i" class="sr-only">Expression</label>
          <input [id]="'variable-expression-' + i" [(ngModel)]="variable.expression"
            class="form-control mr-2 w-100" />
        </div>
      </div>
      <div class="col-md-1">
        <button class="btn btn-danger" aria-label="Remove Line" (click)="onRemove(i)">x</button>
      </div>
    </div>
    <div *ngIf="!variables.length" class="py-2">No variables, please <a href="#" (click)="onAdd()">add one</a>.</div>
  </div>
</div>

<button class="btn btn-secondary mt-2" (click)="onAdd()">Add variable</button>

<pre *ngIf="showFhirPath">
  {{variables|json}}
</pre>
