/* You can add global styles to this file, and also import other style files */

body { font-family: Roboto, "Helvetica Neue", sans-serif; }

body > .container { margin: 0 2em; }

.autocomp_selected {
  border: none !important;
  padding: 0 !important;
  display: block !important;
}

.autocomp_selected > ul {
  margin: 0 !important;
}

.autocomp_selected > input {
  margin-bottom: 0 !important;
}
